{{ include ('helper/header.html') }}
{{ include ('helper/navbar.html') }}
<h3 class="page-heading mb-4">{{ language.663 }}</h3>
<div class="row mb-2">
<div class="col-lg-12">
<div class="card">
<div class="card-body">
<form class="forms-sample" action="{{ post_id }}{{ config.routers.admin }}config" method="post">

<div class="col-lg-12">

<ul class="nav nav-tabs">
{% if content.settings %}
<li class="nav-item">
<a class="nav-link active" href="#settings" data-toggle="tab">{{ language.832 }}</a>
</li>
{% endif %}

{% if content.seller %}
<li class="nav-item">
<a class="nav-link" href="#seller" data-toggle="tab">{{ language.830 }}</a>
</li>
{% endif %}

{% if content.payments %}
<li class="nav-item">
<a class="nav-link" href="#payments" data-toggle="tab">{{ language.731 }}</a>
</li>
{% endif %}
 
{% if content.admin %}
<li class="nav-item">
<a class="nav-link" href="#admin" data-toggle="tab">{{ language.831 }}</a>
</li>
{% endif %}

{% if content.db %}
<li class="nav-item">
<a class="nav-link" href="#db" data-toggle="tab">{{ language.828 }}</a>
</li>
{% endif %}

{% if content.dir %}
<li class="nav-item">
<a class="nav-link" href="#dir" data-toggle="tab">Folders</a>
</li>
{% endif %}

{% if content.vendor %}
<li class="nav-item">
<a class="nav-link" href="#vendor" data-toggle="tab">Vendor</a>
</li>
{% endif %}

{% if content.hooks %}
<li class="nav-item">
<a class="nav-link" href="#hooks" data-toggle="tab">Hooks</a>
</li>
{% endif %}

{% if content.cache %}
<li class="nav-item">
<a class="nav-link" href="#cache" data-toggle="tab">Cache</a>
</li>
{% endif %}

{% if content.routers %}
<li class="nav-item">
<a class="nav-link" href="#routers" data-toggle="tab">Routers</a>
</li>
{% endif %}
 
{% if content.slim %}
<li class="nav-item">
<a class="nav-link" href="#slim" data-toggle="tab">Slim</a>
</li>
{% endif %}

</ul>

<div class="tab-content">

{% if content.payments %}
<div role="tabpanel" class="tab-pane fade in" id="payments">
{% if content.payments %}
<div class="col-lg-12"><h4 class="padding_top_14">{% if content.payments.name %}{{ content.payments.name }}{% endif %}</h4></div>
<div class="form-row">
{# -------------- #}
{% for key, value in content.payments %}
{% if key != 'name' %}

{% if value is iterable %}
<div class="col-lg-12"><h5 class="padding_top_14">{% if key %}{{ key }}{% endif %}</h5></div>

{# ------ #}
{% for key_two, value_two in value %}

{% if value_two is iterable %}
<div class="col-lg-12"><h6 class="padding_top_14">{% if key_two %}{{ key_two }}{% endif %}</h6></div>
{# --- #}
{% for key_three, value_three in value_two %}
<div class="form-group col-xl-6">
<label for="{{ key_three }}">{{ key_three }}</label>
<input type="text" class="form-control form-control-xs" name="payments[{{ key }}][{{ key_two }}][{{ key_three }}]" aria-describedby="{{ value_three }}" value="{{ value_three }}">
</div>
{% endfor %}
{# --- #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key_two }}">{{ key_two }}</label>
<input type="text" class="form-control form-control-xs" name="payments[{{ key }}][{{ key_two }}]" aria-describedby="{{ value_two }}" value="{{ value_two }}">
</div>
{% endif %}

{% endfor %}
{# ------ #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key }}">{{ key }}</label>
<input type="text" class="form-control form-control-xs" name="payments[{{ key }}]" aria-describedby="{{ value }}" value="{{ value }}">
</div>
{% endif %}

{% endif %}
{% endfor %}
{# -------------- #}
</div>
{% endif %}
</div>
{% endif %}

{% if content.slim %}
<div role="tabpanel" class="tab-pane fade in" id="slim">
{% if content.slim %}
<div class="col-lg-12"><h4 class="padding_top_14">{% if content.slim.name %}{{ content.slim.name }}{% endif %}</h4></div>
<div class="form-row">
{# -------------- #}
{% for key, value in content.slim %}
{% if key != 'name' %}

{% if value is iterable %}
<div class="col-lg-12"><h5 class="padding_top_14">{% if key %}{{ key }}{% endif %}</h5></div>

{# ------ #}
{% for key_two, value_two in value %}

{% if value_two is iterable %}
<div class="col-lg-12"><h6 class="padding_top_14">{% if key_two %}{{ key_two }}{% endif %}</h6></div>
{# --- #}
{% for key_three, value_three in value_two %}
<div class="form-group col-xl-6">
<label for="{{ key_three }}">{{ key_three }}</label>
<input type="text" class="form-control form-control-xs" name="slim[{{ key }}][{{ key_two }}][{{ key_three }}]" aria-describedby="{{ value_three }}" value="{{ value_three }}">
</div>
{% endfor %}
{# --- #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key_two }}">{{ key_two }}</label>
<input type="text" class="form-control form-control-xs" name="slim[{{ key }}][{{ key_two }}]" aria-describedby="{{ value_two }}" value="{{ value_two }}">
</div>
{% endif %}

{% endfor %}
{# ------ #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key }}">{{ key }}</label>
<input type="text" class="form-control form-control-xs" name="slim[{{ key }}]" aria-describedby="{{ value }}" value="{{ value }}">
</div>
{% endif %}

{% endif %}
{% endfor %}
{# -------------- #}
</div>
{% endif %}
</div>
{% endif %}

{% if content.seller %}
<div role="tabpanel" class="tab-pane fade in" id="seller">
{% if content.seller %}
<div class="col-lg-12"><h4 class="padding_top_14">{% if content.seller.name %}{{ content.seller.name }}{% endif %}</h4></div>
<div class="form-row">
{# -------------- #}
{% for key, value in content.seller %}
{% if key != 'name' %}

{% if value is iterable %}
<div class="col-lg-12"><h5 class="padding_top_14">{% if key %}{{ key }}{% endif %}</h5></div>

{# ------ #}
{% for key_two, value_two in value %}

{% if value_two is iterable %}
<div class="col-lg-12"><h6 class="padding_top_14">{% if key_two %}{{ key_two }}{% endif %}</h6></div>
{# --- #}
{% for key_three, value_three in value_two %}
<div class="form-group col-xl-6">
<label for="{{ key_three }}">{{ key_three }}</label>
<input type="text" class="form-control form-control-xs" name="seller[{{ key }}][{{ key_two }}][{{ key_three }}]" aria-describedby="{{ value_three }}" value="{{ value_three }}">
</div>
{% endfor %}
{# --- #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key_two }}">{{ key_two }}</label>
<input type="text" class="form-control form-control-xs" name="seller[{{ key }}][{{ key_two }}]" aria-describedby="{{ value_two }}" value="{{ value_two }}">
</div>
{% endif %}

{% endfor %}
{# ------ #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key }}">{{ key }}</label>
<input type="text" class="form-control form-control-xs" name="seller[{{ key }}]" aria-describedby="{{ value }}" value="{{ value }}">
</div>
{% endif %}

{% endif %}
{% endfor %}
{# -------------- #}
</div>
{% endif %}
</div>
{% endif %}
 
{% if content.admin %}
<div role="tabpanel" class="tab-pane fade in" id="admin">
{% if content.admin %}
<div class="col-lg-12"><h4 class="padding_top_14">{% if content.admin.name %}{{ content.admin.name }}{% endif %}</h4></div>
<div class="form-row">
{% for key, value in content.admin %}
{% if key != 'name' %}
{# -------------- #}

{% if value is iterable %}
<div class="col-lg-12"><h5 class="padding_top_14">{% if key %}{{ key }}{% endif %}</h5></div>

{# ------ #}
{% for key_two, value_two in value %}
<div class="form-group col-xl-6">
<label for="{{ key_two }}">{{ key_two }}</label>
<input type="text" class="form-control form-control-xs" name="admin[{{ key }}][{{ key_two }}]" aria-describedby="{{ value_two }}" value="{{ value_two }}">
</div>
{% endfor %}
{# ------ #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key }}">{{ key }}</label>
<input type="text" class="form-control form-control-xs" name="admin[{{ key }}]" aria-describedby="{{ value }}" value="{{ value }}">
</div>
{% endif %}

{# -------------- #}
{% endif %}
{% endfor %}
</div>
{% endif %}
</div>
{% endif %}

{% if content.settings %}
<div role="tabpanel" class="tab-pane active" id="settings">
{% if content.settings %}
<div class="col-lg-12"><h4 class="padding_top_14">{% if content.settings.name %}{{ content.settings.name }}{% endif %}</h4></div>
<div class="form-row">
{% for key, value in content.settings %}
{% if key != 'name' %}
{# -------------- #}

{% if value is iterable %}
<div class="col-lg-12"><h5 class="padding_top_14">{% if key %}{{ key }}{% endif %}</h5></div>

{# ------ #}
{% for key_two, value_two in value %}
<div class="form-group col-xl-6">
<label for="{{ key_two }}">{{ key_two }}</label>
<input type="text" class="form-control form-control-xs" name="settings[{{ key }}][{{ key_two }}]" aria-describedby="{{ value_two }}" value="{{ value_two }}">
</div>
{% endfor %}
{# ------ #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key }}">{{ key }}</label>
<input type="text" class="form-control form-control-xs" name="settings[{{ key }}]" aria-describedby="{{ value }}" value="{{ value }}">
</div>
{% endif %}

{# -------------- #}
{% endif %}
{% endfor %}
</div>
{% endif %}
</div>
{% endif %}

{% if content.db %}
<div role="tabpanel" class="tab-pane fade in" id="db">
{% if content.db %}
<div class="col-lg-12"><h4 class="padding_top_14">{% if content.db.name %}{{ content.db.name }}{% endif %}</h4></div>
<div class="form-row">
{# -------------- #}
{% for key, value in content.db %}
{% if key != 'name' %}


{% if value is iterable %}
<div class="col-lg-12"><h5 class="padding_top_14">{% if key %}{{ key }}{% endif %}</h5></div>

{# ------ #}
{% for key_two, value_two in value %}

{% if value_two is iterable %}
<div class="col-lg-12"><h6 class="padding_top_14">{% if key_two %}{{ key_two }}{% endif %}</h6></div>
{# --- #}
{% for key_three, value_three in value_two %}
<div class="form-group col-xl-6">
<label for="{{ key_three }}">{{ key_three }}</label>
<input type="text" class="form-control form-control-xs" name="db[{{ key }}][{{ key_two }}][{{ key_three }}]" aria-describedby="{{ value_three }}" value="{{ value_three }}">
</div>
{% endfor %}
{# --- #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key_two }}">{{ key_two }}</label>
<input type="text" class="form-control form-control-xs" name="db[{{ key }}][{{ key_two }}]" aria-describedby="{{ value_two }}" value="{{ value_two }}">
</div>
{% endif %}

{% endfor %}
{# ------ #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key }}">{{ key }}</label>
<input type="text" class="form-control form-control-xs" name="db[{{ key }}]" aria-describedby="{{ value }}" value="{{ value }}">
</div>
{% endif %}

{% endif %}
{% endfor %}
{# -------------- #}
</div>
{% endif %}
</div>
{% endif %}

{% if content.routers %}
<div role="tabpanel" class="tab-pane fade in" id="routers">
{% if content.routers %}
<div class="col-lg-12"><h4 class="padding_top_14">{% if content.routers.name %}{{ content.routers.name }}{% endif %}</h4></div>
<div class="form-row">
{# -------------- #}
{% for key, value in content.routers %}
{% if key != 'name' %}

{% if value is iterable %}
<div class="col-lg-12"><h5 class="padding_top_14">{% if key %}{{ key }}{% endif %}</h5></div>

{# ------ #}
{% for key_two, value_two in value %}

{% if value_two is iterable %}
<div class="col-lg-12"><h6 class="padding_top_14">{% if key_two %}{{ key_two }}{% endif %}</h6></div>
{# --- #}
{% for key_three, value_three in value_two %}
<div class="form-group col-xl-6">
<label for="{{ key_three }}">{{ key_three }}</label>
<input type="text" class="form-control form-control-xs" name="routers[{{ key }}][{{ key_two }}][{{ key_three }}]" aria-describedby="{{ value_three }}" value="{{ value_three }}">
</div>
{% endfor %}
{# --- #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key_two }}">{{ key_two }}</label>
<input type="text" class="form-control form-control-xs" name="routers[{{ key }}][{{ key_two }}]" aria-describedby="{{ value_two }}" value="{{ value_two }}">
</div>
{% endif %}

{% endfor %}
{# ------ #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key }}">{{ key }}</label>
<input type="text" class="form-control form-control-xs" name="routers[{{ key }}]" aria-describedby="{{ value }}" value="{{ value }}">
</div>
{% endif %}

{% endif %}
{% endfor %}
{# -------------- #}
</div>
{% endif %}
</div>
{% endif %}

{% if content.vendor %}
<div role="tabpanel" class="tab-pane fade in" id="vendor">
{% if content.vendor %}
<div class="col-lg-12"><h4 class="padding_top_14">{% if content.vendor.name %}{{ content.vendor.name }}{% endif %}</h4></div>
<div class="form-row">
{# -------------- #}
{% for key, value in content.vendor %}
{% if key != 'name' %}

{% if value is iterable %}
<div class="col-lg-12"><h5 class="padding_top_14">{% if key %}{{ key }}{% endif %}</h5></div>

{# ------ #}
{% for key_two, value_two in value %}

{% if value_two is iterable %}
<div class="col-lg-12"><h6 class="padding_top_14">{% if key_two %}{{ key_two }}{% endif %}</h6></div>
{# --- #}
{% for key_three, value_three in value_two %}
<div class="form-group col-xl-6">
<label for="{{ key_three }}">{{ key_three }}</label>
<input type="text" class="form-control form-control-xs" name="vendor[{{ key }}][{{ key_two }}][{{ key_three }}]" aria-describedby="{{ value_three }}" value="{{ value_three }}">
</div>
{% endfor %}
{# --- #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key_two }}">{{ key_two }}</label>
<input type="text" class="form-control form-control-xs" name="vendor[{{ key }}][{{ key_two }}]" aria-describedby="{{ value_two }}" value="{{ value_two }}">
</div>
{% endif %}

{% endfor %}
{# ------ #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key }}">{{ key }}</label>
<input type="text" class="form-control form-control-xs" name="vendor[{{ key }}]" aria-describedby="{{ value }}" value="{{ value }}">
</div>
{% endif %}

{% endif %}
{% endfor %}
{# -------------- #}
</div>
{% endif %}
</div>
{% endif %}

{% if content.cache %}
<div role="tabpanel" class="tab-pane fade in" id="cache">
{% if content.cache %}
<div class="col-lg-12"><h4 class="padding_top_14">{% if content.cache.name %}{{ content.cache.name }}{% endif %}</h4></div>
<div class="form-row">
{# -------------- #}
{% for key, value in content.cache %}
{% if key != 'name' %}

{% if value is iterable %}
<div class="col-lg-12"><h5 class="padding_top_14">{% if key %}{{ key }}{% endif %}</h5></div>

{# ------ #}
{% for key_two, value_two in value %}

{% if value_two is iterable %}
<div class="col-lg-12"><h6 class="padding_top_14">{% if key_two %}{{ key_two }}{% endif %}</h6></div>
{# --- #}
{% for key_three, value_three in value_two %}
<div class="form-group col-xl-6">
<label for="{{ key_three }}">{{ key_three }}</label>
<input type="text" class="form-control form-control-xs" name="cache[{{ key }}][{{ key_two }}][{{ key_three }}]" aria-describedby="{{ value_three }}" value="{{ value_three }}">
</div>
{% endfor %}
{# --- #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key_two }}">{{ key_two }}</label>
<input type="text" class="form-control form-control-xs" name="cache[{{ key }}][{{ key_two }}]" aria-describedby="{{ value_two }}" value="{{ value_two }}">
</div>
{% endif %}

{% endfor %}
{# ------ #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key }}">{{ key }}</label>
<input type="text" class="form-control form-control-xs" name="cache[{{ key }}]" aria-describedby="{{ value }}" value="{{ value }}">
</div>
{% endif %}

{% endif %}
{% endfor %}
{# -------------- #}
</div>
{% endif %}
</div>
{% endif %}

{% if content.hooks %}
<div role="tabpanel" class="tab-pane fade in" id="hooks">
{% if content.hooks %}
<div class="col-lg-12"><h4 class="padding_top_14">{% if content.hooks.name %}{{ content.hooks.name }}{% endif %}</h4></div>
<div class="form-row">
{# -------------- #}
{% for key, value in content.hooks %}
{% if key != 'name' %}

{% if value is iterable %}
<div class="col-lg-12"><h5 class="padding_top_14">{% if key %}{{ key }}{% endif %}</h5></div>

{# ------ #}
{% for key_two, value_two in value %}

{% if value_two is iterable %}
<div class="col-lg-12"><h6 class="padding_top_14">{% if key_two %}{{ key_two }}{% endif %}</h6></div>
{# --- #}
{% for key_three, value_three in value_two %}
<div class="form-group col-xl-6">
<label for="{{ key_three }}">{{ key_three }}</label>
<input type="text" class="form-control form-control-xs" name="hooks[{{ key }}][{{ key_two }}][{{ key_three }}]" aria-describedby="{{ value_three }}" value="{{ value_three }}">
</div>
{% endfor %}
{# --- #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key_two }}">{{ key_two }}</label>
<input type="text" class="form-control form-control-xs" name="hooks[{{ key }}][{{ key_two }}]" aria-describedby="{{ value_two }}" value="{{ value_two }}">
</div>
{% endif %}

{% endfor %}
{# ------ #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key }}">{{ key }}</label>
<input type="text" class="form-control form-control-xs" name="hooks[{{ key }}]" aria-describedby="{{ value }}" value="{{ value }}">
</div>
{% endif %}

{% endif %}
{% endfor %}
{# -------------- #}
</div>
{% endif %}
</div>
{% endif %}

{% if content.dir %}
<div role="tabpanel" class="tab-pane fade in" id="dir">
{% if content.dir %}
<div class="col-lg-12"><h4 class="padding_top_14">{% if content.dir.name %}{{ content.dir.name }}{% endif %}</h4></div>
<div class="form-row">
{# -------------- #}
{% for key, value in content.dir %}
{% if key != 'name' %}

{% if value is iterable %}
<div class="col-lg-12"><h5 class="padding_top_14">{% if key %}{{ key }}{% endif %}</h5></div>

{# ------ #}
{% for key_two, value_two in value %}

{% if value_two is iterable %}
<div class="col-lg-12"><h6 class="padding_top_14">{% if key_two %}{{ key_two }}{% endif %}</h6></div>
{# --- #}
{% for key_three, value_three in value_two %}
<div class="form-group col-xl-6">
<label for="{{ key_three }}">{{ key_three }}</label>
<input type="text" class="form-control form-control-xs" name="dir[{{ key }}][{{ key_two }}][{{ key_three }}]" aria-describedby="{{ value_three }}" value="{{ value_three }}">
</div>
{% endfor %}
{# --- #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key_two }}">{{ key_two }}</label>
<input type="text" class="form-control form-control-xs" name="dir[{{ key }}][{{ key_two }}]" aria-describedby="{{ value_two }}" value="{{ value_two }}">
</div>
{% endif %}

{% endfor %}
{# ------ #}

{% else %}
<div class="form-group col-xl-6">
<label for="{{ key }}">{{ key }}</label>
<input type="text" class="form-control form-control-xs" name="dir[{{ key }}]" aria-describedby="{{ value }}" value="{{ value }}">
</div>
{% endif %}

{% endif %}
{% endfor %}
{# -------------- #}
</div>
{% endif %}
</div>
{% endif %}

</div>

</div>

<div class="col-lg-12">
<div class="form-row">
<div class="form-group col-md-12">
<button type="submit" class="btn btn-primary">{{ language.240 }}</button>
</div>
</div>
</div>

</form>
</div>
</div>
</div>
</div>
{{ include ('helper/footer.html') }}