{{ include ('helper/header.html') }}
{{ include ('helper/navbar.html') }}
<div class="container-fluid">
<div class="row row-offcanvas row-offcanvas-right">
{{ include ('helper/nav.html') }}
 
<div class="content-wrapper">
<h3 class="page-heading mb-4">{{ language.829 }}: {{ resource }} - {{ db_type }}</h3>

<div class="card-deck">
<div class="card col-lg-12 px-0 mb-4">
<div class="card-body">
<h5 class="card-title">{{ resource }}</h5>

<table id="table_responsive" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
<thead>
<tr class="text-primary">
{% for key in content_key %}
<th>{{ key }}</th>
{% endfor %}
</tr>
</thead>
<tfoot>
<tr class="text-primary">
{% for key in content_key %}
<th>{{ key }}</th>
{% endfor %}
</tr>
</tfoot>
<tbody>
{% for item in content.items %}
<tr class="">
{% for key, value in item %}
<td>{{ value }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>

</div>
</div>
</div>




</div>

<footer class="footer">
<div class="container-fluid clearfix">
<span class="float-right">
<div class="copy-text">Copyright © {{ config.copyright.date }} by <a href="//{{ head.host }}">{{ head.host }}</a></div>
</span>
</div>
</footer>
</div>
</div>
{{ include ('helper/footer.html') }}