{{ include ('helper/header.html') }}
{{ include ('helper/navbar.html') }}

<h3 class="page-heading mb-4">{{ language.828 }}</h3>

<div class="card-deck">
<div class="card col-lg-12 px-0 mb-4">
<div class="card-body">
<h5 class="card-title">{{ resource }}</h5>

<table id="table_responsive" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
<thead>
<tr class="text-primary">
<th>{{ language.829 }}</th>
<th>{{ language.840 }}</th>
</tr>
</thead>
<tbody>
{% for table in content.table %}
<tr class="">
<td>
<a href="{{ config.routers.admin }}db/{{ table.name }}">{{ table.name }}</a>
</td>
<td>
{% for key, value in table.schema %}
{{ key }} = {{ value }}<br>
{% endfor %}
</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
</div>
</div>

{{ include ('helper/footer.html') }}