{{ include ('helper/header.html') }}
{{ include ('helper/navbar.html') }}
<h3 class="page-heading mb-4">{{ language.785 }}</h3>

<div class="row">
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
<div class="card card-statistics">
<div class="card-body">
<div class="clearfix">
<div class="float-left">
<h4 class="text-danger">
<i class="fa fa-bar-chart-o highlight-icon" aria-hidden="true"></i>
</h4>
</div>
<div class="float-right">
<p class="card-text text-dark">{{ language.820 }}</p>
<h4 class="bold-text">1654</h4>
</div>
</div>
<p class="text-muted">
<i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i> {{ language.825 }} 65%
</p>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
<div class="card card-statistics">
<div class="card-body">
<div class="clearfix">
<div class="float-left">
<h4 class="text-warning">
<i class="fa fa-shopping-cart highlight-icon" aria-hidden="true"></i>
</h4>
</div>
<div class="float-right">
<p class="card-text text-dark">{{ language.821 }}</p>
<h4 class="bold-text">+75</h4>
</div>
</div>
<p class="text-muted">
<i class="fa fa-bookmark-o mr-1" aria-hidden="true"></i> {{ language.826 }}
</p>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
<div class="card card-statistics">
<div class="card-body">
<div class="clearfix">
<div class="float-left">
<h4 class="text-success">
<i class="fa fa-dollar highlight-icon" aria-hidden="true"></i>
</h4>
</div>
<div class="float-right">
<p class="card-text text-dark">{{ language.822 }}</p>
<h4 class="bold-text">15656</h4>
</div>
</div>
<p class="text-muted">
<i class="fa fa-calendar mr-1" aria-hidden="true"></i> {{ language.824 }}
</p>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
<div class="card card-statistics">
<div class="card-body">
<div class="clearfix">
<div class="float-left">
<h4 class="text-primary">
<i class="fa fa-twitter highlight-icon" aria-hidden="true"></i>
</h4>
</div>
<div class="float-right">
<p class="card-text text-dark">{{ language.823 }}</p>
<h4 class="bold-text">+174</h4>
</div>
</div>
<p class="text-muted">
<i class="fa fa-repeat mr-1" aria-hidden="true"></i> {{ language.827 }}
</p>
</div>
</div>
</div>
</div>

{{ include ('widget/orders.html') }}

{% if content.article %}
{{ include ('widget/article.html') }}
{% endif %}

{% if content.user %}
{{ include ('widget/user.html') }}
{% endif %}

{% if content.templates %}
{{ include ('widget/templates.html') }}
{% endif %}

{{ include ('helper/footer.html') }}