{{ include ('helper/header.html') }}
{{ include ('helper/navbar.html') }}
<h3 class="page-heading mb-4">{{ language.836 }}</h3>
<div class="card-deck">
<div class="card col-lg-12 px-0 mb-4">
<div class="card-body">

<ul class="nav nav-tabs">
<li class="nav-item">
<a class="nav-link active" href="#"><span class="font_14">{{ language.837 }}</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ admin_uri }}{{ config.routers.admin.all.route }}packages-install"><span class="font_14">{{ language.863 }}</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ admin_uri }}{{ config.routers.admin.all.route }}packages-install-json"><span class="font_14">{{ language.867 }}</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ admin_uri }}{{ config.routers.admin.all.route }}package/"><span class="font_14">{{ language.864 }}</span></a>
</li>
</ul>
<div class="padding_height_10">
<table id="table_responsive" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
<thead>
<tr class="text-primary">
<th>{{ language.816 }}</th>
<th>{{ language.841 }}</th>
<th class="text-center">State</th>
<th class="text-center">Edit</th>
<th class="text-center">Run</th>
<th>{{ language.842 }}</th>
<th>{{ language.817 }}</th>
</tr>
</thead>
<tbody>
{% for item in content.require %}
<tr class="">
<td><a href="{{ admin_uri }}{{ config.routers.admin.all.route }}package/{{ item.vendor|lower }}.{{ item.name|lower }}">{{ item.vendor|lower }}.<strong>{{ item.name|lower }}</strong></a></td>
<td class="text-center"><a target="_blank" href="{{ item.link }}" class="btn btn-sm bg-green-xl btn-hover-effects text-white">{{ item.version }}</a></td>
<td class="text-center">
{% if item.state == '1' %}
<div class="text-green-xl text_bold">{{ language.246 }}</div>
{% else %}
<a href="#" onClick="packageActivate('{{ item.vendor|lower }}.{{ item.name|lower }}');" class="btn btn-sm bg-green-sm btn-hover-effects text-white">{{ language.759 }}</a>
{% endif %}
</td>
<td class="text-center">
{% if item.system_package != '1' %}
<a href="{{ admin_uri }}{{ config.routers.admin.all.route }}package/{{ item.vendor|lower }}.{{ item.name|lower }}" class="text-primary-xxl"><i class="fa fa-pencil-square-o font_20" aria-hidden="true"></i></a>
{% endif %}
</td>
<td class="text-center">
{% if item.system_package != '1' %}
{% if item.state == '0' %}
<a href="#" onClick="packageDelete('{{ item.vendor|lower }}.{{ item.name|lower }}');" class="text-red"><i class="fa fa-times font_20" aria-hidden="true"></i></a>
{% else %}
<a href="#" onClick="packageDeactivate('{{ item.vendor|lower }}.{{ item.name|lower }}');" class="text-grey-xl"><i class="fa fa-power-off font_20" aria-hidden="true"></i></a>
{% endif %}
{% endif %}
</td>
<td><a href="{{ admin_uri }}{{ config.routers.admin.all.route }}package/{{ item.vendor|lower }}.{{ item.name|lower }}">{{ item.namespace }}</a></td>
<td>{{ item.dir }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<h5 class="font_18 text-red">{{ language.866 }}</h5>
</div>
</div>
</div>
{{ include ('helper/footer.html') }}