.fixed-footer .boxed-header .footer{max-width:100%;margin:0 10% 0 10%;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.15);box-shadow:0 0 20px rgba(0,0,0,0.15);background-color:#fff;}
.fixed-footer-none .footer{position:relative;top:auto;}
.fixed-footer .footer{position:fixed;bottom:0;right:0;left:0;z-index:1030;}
.footer-block .footer{display:block;}
.footer-none .footer{display:none;}
.footer-header-block .footer-top{display:block;}
.footer-header-none .footer-top{display:none;}
footer{padding-top:0rem;padding-bottom:0rem;}
.copyright-text{display:block;}
#footer{color:#fff;}
.footer-top{position:relative;padding:30px 0}
#footer .footer-bottom{background-color:#fff;padding:20px 0 10px;}
#footer .footer-bottom a:hover{text-decoration:underline;}
.footer-logo{display:inline-block;margin-bottom:5px;}
#footer .social-icons{margin-top:15px;}
#footer .social-icons ul{list-style:none;padding:0;margin:0;}
#footer .social-icons ul li a{background-color:rgba(0,0,0,.2);border-radius:4px;line-height:33px;}
#footer .social-icons ul li a:hover{color:#fff}
#footer .social-icons ul li a.envelope:hover{background-color:#CECB26;}
#footer .social-icons ul li a.facebook:hover{background-color:#3b5999;}
#footer .social-icons ul li a.twitter:hover{background-color:#2ac6f7;}
#footer .social-icons ul li a.dribbble:hover{background-color:#ff5b92;}
#footer .social-icons ul li a.linkedin:hover{background-color:#036dc0;}
#footer .social-icons ul li a.tumblr:hover{background-color:#ff6b00;}
@media (max-width:575px){}
@media (min-width:576px){}
@media (min-width:768px){}
@media (min-width:992px){}
@media (min-width:1200px){}