<div class="card-deck">
<div class="card col-lg-12 px-0 mb-4">
<div class="card-body">
<h5 class="card-title">{{ language.750 }}</h5>
<div class="table-responsive">
<table class="table center-aligned-table">
<thead>
<tr class="text-primary">
<th>{{ language.816 }}</th>
<th>{{ language.817 }}</th>
<th>{{ language.818 }}</th>
<th>{{ language.517 }}</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
{% for template in content.templates %}
<tr class="">
<td>{{ template.name }}</td>
<td>{{ template.dir }}</td>
<td><label class="btn btn-sm bg-green-sm text-white">{{ template.version }}</label></td>
<td>
{% if template.name != 'admin' %}
<a target="_blank" href="{{ template.demo }}" class="btn btn-sm bg-orange-sm btn-hover-effects text-white">demo</a>
{% endif %}
</td>
<td>
{% if config.settings.themes.template == template.name or template.name == 'admin' %}
<label class="btn btn-sm bg-pink-sm btn-hover-effects text-white">{{ language.246 }}</label>
{% else %}
<a href="#" onClick="templateActivate('{{ template.alias }}', '{{ template.dir }}');" class="btn btn-sm bg-green-sm btn-hover-effects text-white">{{ language.759 }}</a>
{% endif %}
</td>
<td>
<a href="{{ admin_uri }}{{ config.routers.admin.all.route }}template/{{ template.dir }}" class="btn btn-sm bg-primary-sm btn-hover-effects text-white">{{ language.709 }}</a>
</td>
<td>
{% if config.settings.themes.template != template.name and template.name != 'admin' %}
<a href="#" onClick="templateDelete('{{ template.alias }}', '{{ template.dir }}');" class="btn btn-sm bg-danger-sm btn-hover-effects text-white">{{ language.799 }}</a>
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="text-left padding_width_14">
<a class="btn btn-md bg-orange-md btn-hover-effects text-white" href="{{ admin_uri }}{{ config.routers.admin.all.route }}template">
{{ language.835 }}
</a>
</div>

</div>
</div>
</div>