<div class="card-deck">
<div class="card col-lg-12 px-0 mb-4">
<div class="card-body">
<h5 class="card-title">{{ language.846 }}</h5>
<div class="table-responsive">
<table class="table center-aligned-table">
<thead>
<tr class="text-primary">
<th>id</th>
<th>{{ language.816 }}</th>
<th>email</th>
<th>phone</th>
<th>alias</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
{% for item in content.user %}
<tr class="">
<td>{{ item.id }}</td>
<td><a href="{{ admin_uri }}{{ config.routers.admin.all.route }}resource/user/{{ item.id }}" class="">{{ item.iname }} {{ item.fname }}</a></td>
<td>{{ item.email }}</td>
<td>{{ item.phone }}</td>
<td><a href="{{ admin_uri }}{{ config.routers.admin.all.route }}resource/user/{{ item.id }}" class="">{{ item.alias }}</a></td>
<td class="text-center"><a href="{{ admin_uri }}{{ config.routers.admin.all.route }}resource/user/{{ item.id }}" class="text-grey"><i class="fa fa-cogs font_20" aria-hidden="true"></i></a></td>
<td class="text-center">
<a href="#" onclick="resourceDelete('user', {{ item.id }});" class="text-red"><i class="fa fa-times font_20" aria-hidden="true"></i></a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="text-left padding_width_14">
<a class="btn btn-md bg-orange-md btn-hover-effects text-white" href="{{ admin_uri }}{{ config.routers.admin.all.route }}resource/user">
{{ language.846 }}
</a>
</div>

</div>
</div>
</div>