{% if head.title or page == 'category_list' %}
{% if head.title %}<title>{{ head.title }} | {{ head.host }}</title>{% endif %}
{% if head.keywords %}<meta name="keywords" content="{{ head.keywords }}, {{ head.host }}">{% endif %}
{% if head.description %}<meta name="description" content="{{ head.description }} | {{ head.host }}">{% endif %}
{% if head.host %}<link name="canonical" href="{{ head.scheme }}{{ head.host }}{{ head.path }}">{% endif %}
{% if head.robots %}<meta name="robots" content="{{ head.robots }}">{% endif %}
{% if head.og_url %}<meta property="og:url" content="{{ head.scheme }}{{ head.host }}{{ head.path }}">{% endif %}
{% if head.og_locale %}<meta property="og:locale" content="{{ head.og_locale }}">{% endif %}
{% if head.og_type %}<meta property="og:type" content="{{ head.og_type }}">{% endif %}
{% if head.og_title %}<meta property="og:title" content="{{ head.og_title }} | {{ head.host }}">{% endif %}
{% if head.og_description %}<meta property="og:description" content="{{ head.og_description }} | {{ head.host }}">{% endif %}
{% if head.og_image %}<meta property="og:image" content="{{ head.og_image }}">{% endif %}
{% elseif content.title %}
{% if content.title %}<title>{{ content.title }} | {{ head.host }}</title>{% endif %} 
{% if content.keywords %}<meta name="keywords" content="{{ content.keywords }}, {{ head.host }}">{% endif %} 
{% if content.description %}<meta name="description" content="{{ content.description }} | {{ head.host }}">{% endif %} 
{% if content.host %}<link name="canonical" href="{{ head.scheme }}{{ head.host }}{{ head.path }}">{% endif %} 
{% if content.robots %}<meta name="robots" content="{{ content.robots }}">{% endif %} 
{% if content.og_url %}<meta property="og:url" content="{{ head.scheme }}{{ content.host }}{{ content.path }}">{% endif %} 
{% if content.og_locale %}<meta property="og:locale" content="{{ content.og_locale }}">{% endif %} 
{% if content.og_type %}<meta property="og:type" content="{{ content.og_type }}">{% endif %} 
{% if content.og_title %}<meta property="og:title" content="{{ content.og_title }} | {{ head.host }}">{% endif %} 
{% if content.og_description %}<meta property="og:description" content="{{ content.og_description }} | {{ head.host }}">{% endif %} 
{% if content.og_image %}<meta property="og:image" content="{{ content.og_image }}">{% endif %} 
{% endif %}