.h1-description-block .h1-description{display:block;}
.h1-description-none .h1-description{display:none;}
.h1-description{border-radius:0;border-radius:0;padding-top:4rem;padding-bottom:3rem;margin-bottom:0;}
.h1-description p:last-child{margin-bottom:0;}
.h1-description-heading{font-weight:300;}
@media (max-width:575px){}
@media (min-width:576px){}
@media (min-width:768px){}
@media (min-width:992px){}
@media (min-width:1200px){}