.marketing-block .marketing{display:block;}
.marketing-none .marketing{display:none;}
.marketing .col-lg-4{margin-bottom:1.5rem;text-align:center;}
.marketing h2{font-weight:normal;}
.marketing .col-lg-4 p{margin-right:.75rem;margin-left:.75rem;}
.material-icons.font-dark{color:rgba(0,0,0,0.54);}
.material-icons.font-dark.font-inactive{color:rgba(0,0,0,0.26);}
.material-icons.font-light{color:rgba(255,255,255,1);}
.material-icons.font-light.font-inactive{color:rgba(255,255,255,0.3);}
@media (max-width:575px){}
@media (min-width:576px){.featurette-heading{font-size:3.5rem;}
}
@media (min-width:768px){.featurette-heading{margin-top:7rem;}
}
@media (min-width:992px){}
@media (min-width:1200px){}