</div>
<footer class="footer">
<div class="container-fluid clearfix">
<span class="float-right">
<div class="copy-text">Copyright © {{ config.copyright.date }} by <a href="//{{ head.host }}">{{ head.host }}</a></div>
</span>
</div>
</footer>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/themes/lib/pnotify/3.2.0/js/pnotify.min.js"></script>
<script src="/themes/templates/{{ template.name }}/js/off-canvas.js"></script>
<script src="/themes/templates/{{ template.name }}/js/hoverable-collapse.js"></script>
<script src="/themes/templates/{{ template.name }}/js/misc.js"></script>
<script src="/themes/templates/{{ template.name }}/js/jquery.dataTables.min.js"></script>
<script src="/themes/templates/{{ template.name }}/js/dataTables.bootstrap4.min.js"></script>
<script src="/themes/templates/{{ template.name }}/js/dataTables.responsive.min.js"></script>
<script src="/themes/templates/{{ template.name }}/js/responsive.bootstrap4.min.js"></script>
{{ include ('helper/editor.html') }}
<script>
var post_id = '{{ post_id }}'
var admin_uri = '{{ admin_uri }}'
var admin_dir = '{{ config.routers.admin.all.route }}'
var router_language = '{{ config.routers.site.language.route }}'
</script>
<script src="/themes/templates/{{ template.name }}/js/admin.js"></script>
<script src="/themes/app/js/app.js"></script>
<link href="https://cdn.joomimart.com/prism/css/prism.css" rel="stylesheet" />
<script src="https://cdn.joomimart.com/prism/js/prism.js"></script>
<script>
$(document).ready(function() {
$('#table_responsive').DataTable({
responsive: {
details: {
display: $.fn.dataTable.Responsive.display.modal({
header: function ( row ) {
var data = row.data()
return 'Details for '+data[0]+' '+data[1]
}
}),
renderer: $.fn.dataTable.Responsive.renderer.tableAll({
tableClass: 'table'
})
}
}
})
})
</script>
</script>
</body>
</html>