</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/themes/lib/pnotify/3.2.0/js/pnotify.min.js"></script>
<script src="/themes/templates/{{ template }}/js/off-canvas.js"></script>
<script src="/themes/templates/{{ template }}/js/hoverable-collapse.js"></script>
<script src="/themes/templates/{{ template }}/js/misc.js"></script>
<script src="/themes/templates/{{ template }}/js/jquery.dataTables.min.js"></script>
<script src="/themes/templates/{{ template }}/js/dataTables.bootstrap4.min.js"></script>
<script src="/themes/templates/{{ template }}/js/dataTables.responsive.min.js"></script>
<script src="/themes/templates/{{ template }}/js/responsive.bootstrap4.min.js"></script>
<script src="/themes/templates/{{ template }}/js/admin.js"></script>
<script src="/themes/app/js/app.js"></script>
<script>
$(document).ready(function() {
    $('#table_responsive').DataTable( {
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.modal( {
                    header: function ( row ) {
                        var data = row.data();
                        return 'Details for '+data[0]+' '+data[1];
                    }
                } ),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                    tableClass: 'table'
                } )
            }
        }
    } );
} );

</script>
</body>
</html>