{{ include ('header.html') }}
<link href="/themes/lib/phone/1.0.1/css/intlTelInput.css" rel="stylesheet">
<script src="/themes/lib/phone/1.0.1/js/intlTelInput.js"></script>
<style>
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,200,300,500);
body {
font-family: 'Quicksand', Arial, sans-serif;
font-size: 12px;
}
.hide {
display: none !important;
}
.box {
background: #999;
background: -webkit-linear-gradient(to bottom, #212529, #999);
background: linear-gradient(to bottom, #212529, #999);
float: left;
width: 100%;
padding: 100% 0px;
}
.tab-content {
padding-bottom: 4rem;
}
.banner-sec {
background: url(https://cdn.pllano.com/images/glob/slide-image-1.jpg) no-repeat left bottom;
background-size: cover;
min-height: 500px;
padding: 0;
}
.centered {
position: fixed;
top: 50%;
left: 50%;
/* bring your own prefixes */
transform: translate(-50%, -50%);
}
.container {
background: #fff;
-webkit-box-shadow: 0 15px 6px -5px #777;
-moz-box-shadow: 0 15px 6px -5px #777;
box-shadow: 0 15px 6px -5px #777;
}
.carousel-caption {
text-align: center;
left: 5%;
right: 5%;
}
.sec {
padding: 30px 30px;
position: relative;
}
.sec ul li a {
text-transform: uppercase;
font-size: 14px;
font-weight: 500;
}
.copy-text {
font-size: 1rem;
text-align: center;
font-weight: 500;
}
.copy-text {
color: #fff;
}
.copy-text a {
color: #fff;
}

.banner {
width: 100%;
position: absolute;
bottom: 40px;
padding-left: 20px;
padding-right: 20px;
}

.banner img {
width: 90%;
}

.banner h3 {
font-weight: 500;
color: #484848;
}

form label, label small {
font-weight: 500;
}

@media (max-width: 575px) {
.banner-sec {
display: none;
}
}
@media (max-width: 767px) {
.banner-sec {
display: none;
}
}
.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<section class="box centered">
<div class="text-center text-white "><h1>{{ language.766 }}</h1></div>
<div class="text-center text-white font_20">{{ language.738 }}. {{ language.740 }}</div>
<br>
<div class="container">
<div class="row">
 
<div class="col-md-6 sec br-0px br-right-3px br-right-primary-lg br-solid">
<div class="text-center"><h3>{{ language.741 }}</h3></div>
<br>
<div class="tab-content">
<div class="tab-pane fade active show">
	
<div class="form-group">
<label class="text-uppercase">public_key *</label>
<input type="public_key" name="public_key" id="public_key" class="form-control" placeholder="public_key">
<div class="text-left-xl-lg-md text-red-md" id="public_key-status"></div>
</div>

<div class="text-center">
<button type="submit" onClick="checkApiKey();" class="btn btn-lg bg-green-xxxl btn-hover-effects text-white">{{ language.759 }}</button>
</div>
</div>
</div>
</div>


<div class="col-md-6 sec br-0px br-left-3px br-left-light-pink-xl br-solid">
<div class="text-center"><h3>{{ language.763 }}</h3></div>
<br>
<div class="tab-content">
<div class="tab-pane fade active show">

<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="form-group">
<label class="text-uppercase">{{ language.58 }} *</label>
<input type="iname" name="iname" id="iname" class="form-control" placeholder="">
<div class="text-left-xl-lg-md text-red-md" id="iname-status"></div>
</div>
</div>
<div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
<div class='form-group'>
<label class="text-uppercase">{{ language.57 }} *</label>
<input type="fname" name="fname" id="fname" class="form-control" placeholder="">
<div class="text-left-xl-lg-md text-red-md" id="fname-status"></div>
</div>
</div>
</div>
<div class="form-group">
<label class="text-uppercase">{{ language.200 }} *</label>
<input type="tel" name="phone" id="phone" class="form-control" placeholder="">
<div class="text-success-800"><span id="valid-msg" class="hide">✓ {{ language.71 }}</span></div>
<div class="text-danger"><span id="error-msg" class="hide">{{ language.72 }}</span></div>
<div class="text-danger" id="phone-status"></div>
</div>
<div class="form-group">
<label class="text-uppercase">{{ language.161 }} *</label>
<input type="email" name="email" id="email" class="form-control" placeholder="{{ language.161 }}">
<div class="text-left-xl-lg-md text-red-md" id="email-status"></div>
</div>
<div class="form-group">
<label class="text-uppercase">{{ language.201 }}</label>
<input type="password" name="password" id="password" class="form-control" placeholder="{{ language.272 }}">
<div class="text-left-xl-lg-md text-red-md" id="password-status"></div>
</div>

<div class="form-check">
<label class="form-check-label">
<input type="checkbox" class="form-check-input">
<small>{{ language.159 }}</small>
</label>
<button type="submit" onClick="checkInSeller();" class="btn btn-lg bg-warning-xxl btn-hover-effects text-white float-right">{{ language.283 }}</button>
</div>

</div>
</div>
</div>



</div>
</div>

<div class="text-center padding_height_10">
<div class="btn-group btn-white padding_height_4">
<button type="button" class="btn btn-md btn-hover-effects text-dark-gunmetal dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{% if session.language == "ua" %}
<img src="/themes/lib/phone/flags/ua.png" class="position-left" alt=""> Українська
{% elseif session.language == "en" %}
<img src="/themes/lib/phone/flags/gb.png" class="position-left" alt=""> English
{% elseif session.language == "ru" %}
<img src="/themes/lib/phone/flags/ru.png" class="position-left" alt=""> Русский
{% elseif session.language == "de" %}
<img src="/themes/lib/phone/flags/de.png" class="position-left" alt=""> Deutsch
{% else %}
<img src="/themes/lib/phone/flags/ru.png" class="position-left" alt=""> Русский
{% endif %}
</button>
<div class="dropdown-menu a-dark-gunmetal a-hover-blue-violet">
<a class="dropdown-item" href="#" onClick="setLanguage(2);"><img src="/themes/lib/phone/flags/ua.png" alt=""> Українська</a>
<a class="dropdown-item" href="#" onClick="setLanguage(1);"><img src="/themes/lib/phone/flags/ru.png" alt=""> Русский</a>
<a class="dropdown-item" href="#" onClick="setLanguage(3);"><img src="/themes/lib/phone/flags/gb.png" alt=""> English</a>
<a class="dropdown-item" href="#" onClick="setLanguage(4);"><img src="/themes/lib/phone/flags/de.png" alt=""> Deutsch</a>
</div>
</div> 
<div class="copy-text">Copyright © {{ config.copyright.date }} by <a href="https://pllano.com/">pllano.com</a></div>
</div>

</section>
<script>
$(document).ready(function() {
$('#iname').focus();
$('#iname').keyup(function(event) {if(event.keyCode==13) { $('#fname').focus(); }});
$('#fname').keyup(function(event) {if(event.keyCode==13) { $('#phone').focus(); }});
$('#phone').keyup(function(event) {if(event.keyCode==13) { $('#email').focus(); }});
$('#email').keyup(function(event) {if(event.keyCode==13) { $('#password').focus(); }});
$('#password').keyup(function(event) {if(event.keyCode==13) {checkIn();}});
});

var countryData = $.fn.intlTelInput.getCountryData();
$.each(countryData, function(i, country) {
country.name = country.name.replace(/.+\((.+)\)/,"$1");
});

var telInput = $("#phone"),
errorMsg = $("#error-msg"),
validMsg = $("#valid-msg");

$("#phone").intlTelInput({
initialCountry: "auto",
geoIpLookup: function(callback) {
$.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
var countryCode = (resp && resp.country) ? resp.country : "";
callback(countryCode);
});
},
autoFormat: true,
autoPlaceholder: true,
preferredCountries: ["ua", "by", "kz", "ge", "uz", "ru", "us"],
separateDialCode: true,
utilsScript: "/themes/lib/phone/1.0.1/js/phone.js"
});

var reset = function() {
telInput.removeClass("error");
errorMsg.addClass("hide");
validMsg.addClass("hide");
};

// on blur: validate
telInput.blur(function() {
reset();
if ($.trim(telInput.val())) {
if (telInput.intlTelInput("isValidNumber")) {
validMsg.removeClass("hide");
} else {
telInput.addClass("error");
errorMsg.removeClass("hide");
}
}
});

telInput.on("keyup change", reset);
</script>