{{ include ('header.html') }}
<input type="hidden" name="host" id="host" value="{{ head.host }}">
<style>
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,200,300,500);
.background {
background: #484848;
background: -webkit-linear-gradient(to bottom, #212529, #484848);
background: linear-gradient(to bottom, #212529, #484848);
}
.portfolio-item {
margin-bottom: 30px;
}
.pagination {
margin-bottom: 30px;
}
</style>
<section class="login-box background">
<br>
<div class="text-center text-white "><h1>{{ language.748 }}</h1></div>
<br>
<div class="container">
<div class="row">
{% for item in content %}
<div class="col-lg-6 portfolio-item">
<input type="hidden" name="id" id="id-{{ item.id }}" value="{{ item.id }}">
<div class="card h-100">
<a target="_blank" href="{{ item.image }}"><img class="card-img-top" src="{{ item.image }}" alt=""></a>
<div class="card-body text-center">
<h4 class="card-title">
<a target="_blank" href="{{ item.demo }}">
{% if session.language == "ua" %}
{{ item.title_ua }}
{% elseif session.language == "en" %}
{{ item.title_en }}
{% elseif session.language == "ru" %}
{{ item.title_ru }}
{% elseif session.language == "de" %}
{{ item.title_de }}
{% else %}
{{ item.title }}
{% endif %}
</a>
</h4>
<p class="card-text">
{% if session.language == "ua" %}
{{ item.description_ua }}
{% elseif session.language == "en" %}
{{ item.description_en }}
{% elseif session.language == "ru" %}
{{ item.description_ru }}
{% elseif session.language == "de" %}
{{ item.description_de }}
{% else %}
{{ item.description }}
{% endif %}
</p>
<div class="margin_7">
<span class="control-link-a-3 a-white a-hover-green-xxs">
<span class="control-button btn-success-xl">
<a href="#" onClick="installStore({{ item.id }});" class="btn btn-md btn-hover-effects">{{ language.759 }} <i class="fa fa-check" aria-hidden="true"></i></a>
</span>
</span> 
<span class="control-link-a-3 a-white a-hover-primary-xxs">
<span class="control-button btn-indigo-xxxl">
<a href="{{ item.demo }}" target="_blank" class="btn btn-md btn-hover-effects"><i class="fa fa-desktop" aria-hidden="true"></i> {{ language.213 }}</a>
</span>
</span>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
{{ include ('language.html') }}
<br>
<div class="text-center text-white font_20">{{ language.745 }}</div>
<br>
</section>