
{{ include ('header.html') }}
<input type="hidden" name="host" id="host" value="{{ head.host }}">
<style>
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,200,300,500);
.background {
background: #484848;
background: -webkit-linear-gradient(to bottom, #212529, #484848);
background: linear-gradient(to bottom, #212529, #484848);
}
.portfolio-item {
margin-bottom: 30px;
}
.pagination {
margin-bottom: 30px;
}
</style>
<section class="login-box background">
<br>
<div class="text-center text-white "><h1>{{ language.762 }}</h1></div>
<div class="text-center text-white font_20">{{ language.761 }}</div>

<div class="text-center padding_height_7">
<div class="btn-group btn-white">
<button type="button" class="btn btn-md btn-hover-effects text-dark-gunmetal dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{% if session.language == "ua" %}
<img src="/themes/lib/phone/flags/ua.png" class="position-left" alt=""> Українська
{% elseif session.language == "en" %}
<img src="/themes/lib/phone/flags/gb.png" class="position-left" alt=""> English
{% elseif session.language == "ru" %}
<img src="/themes/lib/phone/flags/ru.png" class="position-left" alt=""> Русский
{% elseif session.language == "de" %}
<img src="/themes/lib/phone/flags/de.png" class="position-left" alt=""> Deutsch
{% else %}
<img src="/themes/lib/phone/flags/ru.png" class="position-left" alt=""> Русский
{% endif %}
</button>
<div class="dropdown-menu a-dark-gunmetal a-hover-blue-violet">
<a class="dropdown-item" href="#" onClick="setLanguage(2);"><img src="/themes/lib/phone/flags/ua.png" alt=""> Українська</a>
<a class="dropdown-item" href="#" onClick="setLanguage(1);"><img src="/themes/lib/phone/flags/ru.png" alt=""> Русский</a>
<a class="dropdown-item" href="#" onClick="setLanguage(3);"><img src="/themes/lib/phone/flags/gb.png" alt=""> English</a>
<a class="dropdown-item" href="#" onClick="setLanguage(4);"><img src="/themes/lib/phone/flags/de.png" alt=""> Deutsch</a>
</div>
</div>
</div>

<div class="container">
<div class="row">
{% for items in content %}
<div class="col-lg-4 portfolio-item">
<input type="hidden" name="uri" id="uri-{{ items.item.id }}" value="{{ items.item.uri }}">
<input type="hidden" name="dir" id="dir-{{ items.item.id }}" value="{{ items.item.dir }}">
<div class="card h-100">
<a target="_blank" href="{{ items.item.demo }}"><img class="card-img-top" src="{{ items.item.image }}" alt=""></a>
<div class="card-body text-center">
<h4 class="card-title">
<a target="_blank" href="{{ items.item.demo }}">
{% if session.language == "ua" %}
{{ items.item.title_ua }}
{% elseif session.language == "en" %}
{{ items.item.title_en }}
{% elseif session.language == "ru" %}
{{ items.item.title_ru }}
{% elseif session.language == "de" %}
{{ items.item.title_de }}
{% else %}
{{ items.item.title }}
{% endif %}
</a>
</h4>
<p class="card-text">
{% if session.language == "ua" %}
{{ items.item.description_ua }}
{% elseif session.language == "en" %}
{{ items.item.description_en }}
{% elseif session.language == "ru" %}
{{ items.item.description_ru }}
{% elseif session.language == "de" %}
{{ items.item.description_de }}
{% else %}
{{ items.item.description }}
{% endif %}
</p>
<div class="margin_7">
<span class="control-link-a-3 a-white a-hover-green-xxs">
<span class="control-button btn-success-xl">
<a href="#" onClick="installTemplate({{ items.item.id }});" class="btn btn-md btn-hover-effects">{{ language.759 }} <i class="fa fa-check" aria-hidden="true"></i></a>
</span>
</span> 
<span class="control-link-a-3 a-white a-hover-primary-xxs">
<span class="control-button btn-indigo-xxxl">
<a href="{{ items.item.demo }}" target="_blank" class="btn btn-md btn-hover-effects"><i class="fa fa-desktop" aria-hidden="true"></i> {{ language.517 }}</a>
</span>
</span>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
</section>