{{ include ('header.html') }}
<style>
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,200,300,500);
.background {
background: #484848;
background: -webkit-linear-gradient(to bottom, #212529, #484848);
background: linear-gradient(to bottom, #212529, #484848);
}
.portfolio-item {
  margin-bottom: 30px;
}
.pagination {
  margin-bottom: 30px;
}
</style>
<section class="login-box background">
<br>
<div class="text-center text-white "><h1>Выберите дизайн (шаблон) сайта.</h1></div>
<div class="text-center text-white font_20">После выбора система подключит товары к шаблону.</div>
<br>
<div class="container">
<div class="row">
{% for items in content %}
<div class="col-lg-6 portfolio-item">
<input type="hidden" name="host" id="host-{{ items.item.id }}" value="{{ host }}">
	<div class="card h-100">
		<a href="#" onClick="checkTemplate({{ items.item.id }});"><img class="card-img-top" src="{{ items.item.image }}" alt=""></a>
		<div class="card-body">
			<h4 class="card-title">
				<a href="#" onClick="checkTemplate({{ items.item.id }});">{{ items.item.title }}</a>
			</h4>
			<p class="card-text">{{ items.item.description }}</p>
		</div>
	</div>
</div>
{% endfor %}
</div>
</div>
</section>