{{ include ('header.html') }}
<input type="hidden" name="host" id="host" value="{{ head.host }}">
<style>
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,200,300,500);
.background {
background: #484848;
background: -webkit-linear-gradient(to bottom, #212529, #484848);
background: linear-gradient(to bottom, #212529, #484848);
}
.portfolio-item {
margin-bottom: 30px;
}
.pagination {
margin-bottom: 30px;
}
</style>
<section class="login-box background">
<br>
<div class="text-center text-white "><h1>{{ language.762 }}</h1></div>
<div class="text-center text-white font_20">{{ language.761 }}</div>
{{ include ('language.html') }}
<div class="container">
<div class="row">
{% for items in content %}
<div class="col-lg-4 portfolio-item">
<input type="hidden" name="uri" id="uri-{{ items.item.id }}" value="{{ items.item.uri }}">
<input type="hidden" name="dir" id="dir-{{ items.item.id }}" value="{{ items.item.dir }}">
<div class="card h-100">
<a target="_blank" href="{{ items.item.demo }}"><img class="card-img-top" src="{{ items.item.image }}" alt=""></a>
<div class="card-body text-center">
<h4 class="card-title">
<a target="_blank" href="{{ items.item.demo }}">
{% if session.language == "ua" %}
{{ items.item.title_ua }}
{% elseif session.language == "en" %}
{{ items.item.title_en }}
{% elseif session.language == "ru" %}
{{ items.item.title_ru }}
{% elseif session.language == "de" %}
{{ items.item.title_de }}
{% else %}
{{ items.item.title }}
{% endif %}
</a>
</h4>
<div class="margin_4">
{% if items.item.price == "0" %}
<div class="text-green-lg font_26 text_bold">{{ language.736 }}</div>
{% else %}
<div class="text-primary-lg font_26 text_bold">{{ items.item.price }} $</div>
{% endif %}
</div>
<div class="margin_4">
{% if items.item.price == "0" %}
<span class="control-link-a-3 a-white a-hover-white">
<span class="control-button btn-success-xl">
<a href="#" onClick="installTemplate({{ items.item.id }});" class="btn btn-md btn-hover-effects">{{ language.759 }} <i class="fa fa-check" aria-hidden="true"></i></a>
</span>
</span>
{% else %}
<span class="control-link-a-3 a-white a-hover-white">
<span class="control-button btn-red-md">
<a href="#" onClick="buyTemplate('{{ items.item.alias }}');" class="btn btn-md btn-hover-effects">{{ language.1 }} <i class="fa fa-cart-plus" aria-hidden="true"></i></a>
</span>
</span>
{% endif %}
<span class="control-link-a-3 a-white a-hover-white">
<span class="control-button btn-indigo-xxxl">
<a href="{{ items.item.demo }}" target="_blank" class="btn btn-md btn-hover-effects"><i class="fa fa-desktop" aria-hidden="true"></i> {{ language.517 }}</a>
</span>
</span>
</div>
<p class="card-text">
{% if session.language == "ua" %}
{{ items.item.description_ua }}
{% elseif session.language == "en" %}
{{ items.item.description_en }}
{% elseif session.language == "ru" %}
{{ items.item.description_ru }}
{% elseif session.language == "de" %}
{{ items.item.description_de }}
{% else %}
{{ items.item.description }}
{% endif %}
</p>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
</section>