{{ include ('helper/header.html') }}
{{ include ('helper/nav.html') }}
{{ include ('helper/title.html') }}
{% autoescape false %}
{% if session.language == "ua" and content.text_ua %}
{{ content.text_ua }}
{% elseif session.language == "en" and content.text_en %}
{{ content.text_en }}
{% elseif session.language == "ru" and content.text_ru %}
{{ content.text_ru }}
{% elseif session.language == "de" and content.text_de %}
{{ content.text_de }}
{% else %}
{{ content.text }}
{% endif %}
{% endautoescape %}
{{ include ('helper/newsletter.html') }}
{{ include ('helper/footer.html') }}