{% if template.layouts.helper.header %}{{ include (template.layouts.helper.header) }}{% endif %}
{% if template.layouts.helper.nav %}{{ include (template.layouts.helper.nav) }}{% endif %}
{% if template.layouts.helper.carousel %}{{ include (template.layouts.helper.carousel) }}{% endif %}
{% if template.layouts.helper.title %}{{ include (template.layouts.helper.title) }}{% endif %}
{% if content %}
<section id="product-list" class="product-list">
<div class="control-background bg-white">
<div class="control-text-3 text-black">
<br>
<div class="control-background bg-white">
<div class="control-text-3 text-black">
<div class="album">
<div class="container">
<div class="row text-center cards">
{% for item in content %}
{% if template.layouts.helper.products %}{{ include (template.layouts.helper.products) }}{% endif %}
{% endfor %}
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endif %}
{% if template.layouts.helper.newsletter %}{{ include (template.layouts.helper.newsletter) }}{% endif %}
{% if template.layouts.helper.footer %}{{ include (template.layouts.helper.footer) }}{% endif %}