<!DOCTYPE html>
<html lang="{{ config.language_signature }}">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
<link rel="icon" href="/templates/favicon.ico">
{% if page.type != "home" %}{% endif %}
{% if config.seo_keywords %}<meta name="keywords" content="{{ config.seo_keywords }}">{% endif %}
{% if config.seo_description %}<meta name="description" content="{{ config.seo_description }}">{% endif %}
{% if config.seo_title %}<title>{{ config.seo_title }}</title>{% endif %}
{% if config.uri %}<link name="canonical" content="{{ config.seo_keywords }}">{% endif %}
{% if config.seo_keywords %}<meta name="keywords" href="{{ config.http_protocol }}://{{ config.uri }}">{% endif %}
{% if config.robots %}<meta name="robots" content="{{ config.robots }}">{% endif %}
{% if config.og_url %}<meta property="og:url" content="{{ config.http_protocol }}://{{ config.og_url }}">{% endif %}
{% if config.og_locale %}<meta property="og:locale" content="{{ config.og_locale }}">{% endif %}
{% if config.og_type %}<meta property="og:type" content="{{ config.og_type }}">{% endif %}
{% if config.og_title %}<meta property="og:title" content="{{ config.og_title }}">{% endif %}
{% if config.og_description %}<meta property="og:description" content="{{ config.og_description }}">{% endif %}
{% if config.og_image %}<meta property="og:image" content="{{ config.og_image }}">{% endif %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="/templates/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
<link href="/templates/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/templates/assets/css/core.css" rel="stylesheet" type="text/css">
<link href="/templates/assets/css/components.css" rel="stylesheet" type="text/css">
<link href="/templates/assets/css/colors.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/templates/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript" src="/templates/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="/templates/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="/templates/assets/js/plugins/loaders/blockui.min.js"></script>
<script type="text/javascript" src="/templates/assets/js/plugins/ui/nicescroll.min.js"></script>
<script type="text/javascript" src="/templates/assets/js/plugins/ui/drilldown.js"></script>
<script type="text/javascript" src="/templates/assets/js/plugins/forms/styling/uniform.min.js"></script>

<script type="text/javascript" src="/templates/assets/js/plugins/notifications/pnotify.min.js"></script>

<script type="text/javascript" src="/templates/assets/js/core/app.js"></script>
<script type="text/javascript" src="/templates/assets/js/pages/components_notifications_pnotify.js"></script>
<script type="text/javascript" src="/templates/assets/js/pages/login.js"></script>
<script type="text/javascript" src="/templates/assets/js/plugins/ui/ripple.min.js"></script>

<script type="text/javascript" src="/templates/js/global.js"></script>

<link rel="stylesheet" href="/templates/assets/js/plugins/phone/css/intlTelInput.css">
<script type="text/javascript" src="/templates/assets/js/plugins/phone/js/intlTelInput.js"></script>
</head>
<body class="login-container">
<div class="page-container">
<div class="page-content">

<div class="content-wrapper">

<!--form action="/login" method="post"-->
<input type="hidden" name="csrf" id="csrf" value="{{ token }}">
<div class="panel panel-body login-form">
<div class="text-center">
<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>

<div class="text-center"><img src="/templates/pllano-logo.svg" alt=""></div>

<h5 class="content-group">{{ language.172 }} <small class="display-block">{{ language.263 }} PLLANO</small></h5>
</div>

<div class="form-group">
<input type="tel" name="phone" id="phone" class="form-control" placeholder="{{ language.200 }}" value="">
<div class="text-success-800"><span id="valid-msg" class="hide">✓ Номер введен коректно</span></div>
<div class="text-danger"><span id="error-msg" class="hide">Некоректный номер</span></div>
<div class="text-danger" id="phone-status"></div>
</div>

<div class="form-group has-feedback has-feedback-left">
<input type="email" name="email" id="email" class="form-control" placeholder="{{ language.161 }}">
<div class="form-control-feedback">
<i class="icon-envelop5 text-muted"></i>
</div>
</div>

<div class="form-group has-feedback has-feedback-left">
<input type="password" name="password" id="password" class="form-control" placeholder="{{ language.272 }}">
<div class="form-control-feedback">
<i class="icon-lock2 text-muted"></i>
</div>
</div>

<div class="form-group login-options">
<div class="row">
<div class="col-sm-6">
<label class="checkbox-inline">
<input type="checkbox" class="styled" checked="checked">
{{ language.693 }}
</label>
</div>

<div class="col-sm-6 text-right">
<a href="#">{{ language.694 }}</a>
</div>
</div>
</div>
<div id="status" class="text-center text-danger"></div>
<div class="form-group">
<!--button type="submit" class="btn bg-pink-400 btn-block">{{ language.203 }} <i class="icon-arrow-right14 position-right"></i></button-->
<button type="submit" onClick="login();" class="btn bg-pink-400 btn-block">{{ language.203 }} <i class="icon-arrow-right14 position-right"></i></button>
</div>

<!--div class="content-divider text-muted form-group"><span>{{ language.695 }}</span></div>
<a href="#" class="btn btn-default btn-block content-group">{{ language.308 }}</a>
<span class="help-block text-center no-margin">Продолжая, вы подтверждаете, что ознакомились с нашими <a href="#">Условиями использования</a> и <a href="#">политикой файлов cookie</a></span>
</div-->

<!--/form-->

</div>

</div>

</div>

<div class="footer text-muted text-center">
Copyright &copy; {{ config.copyrights }} <a class="control-link link-white" href="https://pllano.com/">{{ config.copyright }}</a>
</div>
<script>
$(document).ready(function() {
$('#phone').focus();
$('#phone').keyup(function(event) {if(event.keyCode==13) { $('#email').focus(); }});
$('#email').keyup(function(event) {if(event.keyCode==13) { $('#password').focus(); }});
$('#password').keyup(function(event) {if(event.keyCode==13) {login();}});
});

var countryData = $.fn.intlTelInput.getCountryData();
$.each(countryData, function(i, country) {
country.name = country.name.replace(/.+\((.+)\)/,"$1");
});

var telInput = $("#phone"),
errorMsg = $("#error-msg"),
validMsg = $("#valid-msg");

$("#phone").intlTelInput({
initialCountry: "auto",
geoIpLookup: function(callback) {
$.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
var countryCode = (resp && resp.country) ? resp.country : "";
callback(countryCode);
});
},
autoFormat: true,
autoPlaceholder: true,
preferredCountries: ["ua", "by", "kz", "ge", "uz", "ru", "us"],
separateDialCode: true,
utilsScript: "/templates/assets/js/plugins/phone/js/utils.js"
});

var reset = function() {
telInput.removeClass("error");
errorMsg.addClass("hide");
validMsg.addClass("hide");
};

// on blur: validate
telInput.blur(function() {
reset();
if ($.trim(telInput.val())) {
if (telInput.intlTelInput("isValidNumber")) {
validMsg.removeClass("hide");
} else {
telInput.addClass("error");
errorMsg.removeClass("hide");
}
}
});

telInput.on("keyup change", reset);
</script>
</body>
</html>



