<section id="myCarousel100" class="carousel carousel-100 slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#myCarousel100" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel100" data-slide-to="1"></li>
<li data-target="#myCarousel100" data-slide-to="2"></li>
</ol>
<div class="control-background-2 bg-black">
<div class="control-text text-white">
<div class="control-link-a a-white a-hover-light-grey-md">
<div class="control-button-3 btn-red">
<div class="carousel-inner" role="listbox">
<div class="carousel-item carousel-item-height-100 active">
<img class="first-slide" src="/themes/templates/{{ template.name }}/img/pexels/1920px/pexels-photo-290544.jpg" alt="">
<div class="container">
<div class="carousel-caption d-none d-md-block">
<div class="control-text text-white"><div class="animated bounceInDown font_36 padding_height_10 padding_width_21 margin_10 text-background-0 bg-black-transparent">
{% if config.title %}{{ config.title }}{% endif %}
</div></div>
<div class="control-text text-white"><div class="animated bounceInRight font_36 padding_height_10 padding_width_21 text-background-0 bg-black-transparent">
{{ language.10 }}
</div></div>
<div class="padding_10 animated bounceInLeft"><a class="btn btn-xl btn-hover-effects btn-radius-none" href="/category"><i class="fa fa-download" aria-hidden="true"></i> {{ language.402 }}</a></div>
</div>
</div>
</div>
<div class="carousel-item carousel-item-height-100">
<img class="first-slide" src="/themes/templates/{{ template.name }}/img/pexels/1920px/pexels-photo-298864.jpg" alt="">
<div class="container">
<div class="carousel-caption d-none d-md-block">
<div class="control-text text-white"><div class="animated bounceInUp font_36 padding_height_10 padding_width_21 margin_10 text-background-0 bg-black-transparent">
{% if config.title %}{{ config.title }}{% endif %}
</div></div>
<div class="control-text text-white"><div class="animated bounceInLeft font_36 padding_height_10 padding_width_21 text-background-0 bg-black-transparent">
{{ language.10 }}
</div></div>
<div class="padding_10 animated bounceInRight"><a class="btn btn-xl btn-hover-effects btn-radius-none" href="/category"><i class="fa fa-download" aria-hidden="true"></i> {{ language.402 }}</a></div>
</div>
</div>
</div>
<div class="carousel-item carousel-item-height-100">
<img class="first-slide" src="/themes/templates/{{ template.name }}/img/pexels/1920px/pexels-photo-264576.jpg" alt="">
<div class="container">
<div class="carousel-caption d-none d-md-block">
<div class="control-text text-white"><div class="animated bounceInDown font_36 padding_height_10 padding_width_21 margin_10 text-background-0 bg-black-transparent">
{% if config.title %}{{ config.title }}{% endif %}
</div></div>
<div class="control-text text-white"><div class="animated bounceInRight font_36 padding_height_10 padding_width_21 text-background-0 bg-black-transparent">
{% if config.description %}{{ config.description }}{% endif %}
</div></div>
<div class="padding_10 animated bounceInLeft"><a class="btn btn-xl btn-hover-effects btn-radius-none" href="/category"><i class="fa fa-download" aria-hidden="true"></i> {{ language.402 }}</a></div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
<a class="carousel-control-prev" href="#myCarousel100" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#myCarousel100" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</section>
<link href="/themes/templates/{{ template.name }}/css/carousel-100.css" rel="stylesheet">