<footer id="footer" class="control-background-2 bg-red">
<div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
<div class="container text-center">
<div class="footer-logo">
<a href="/"><img class="img-responsive" src="/themes/templates/{{ template.name }}/img/logo.svg" alt=""></a>
</div>
<div class="social-icons">
<ul>
<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
<li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
<li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
<li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
</ul>
</div>
<div class="payment-icons-list">
<ul>
<li><img src="/themes/templates/{{ template.name }}/img/payment/visa-straight-32px.png" alt="" title="Pay with Visa"></li>
<li><img src="/themes/templates/{{ template.name }}/img/payment/mastercard-straight-32px.png" alt="" title="Pay with Mastercard"></li>
<li><img src="/themes/templates/{{ template.name }}/img/payment/paypal-straight-32px.png" alt="" title="Pay with Paypal"></li>
<li><img src="/themes/templates/{{ template.name }}/img/payment/visa-electron-straight-32px.png" alt="" title="Pay with Visa-electron"></li>
<li><img src="/themes/templates/{{ template.name }}/img/payment/maestro-straight-32px.png" alt="" title="Pay with Maestro"></li>
<li><img src="/themes/templates/{{ template.name }}/img/payment/discover-straight-32px.png" alt="" title="Pay with Discover"></li>
</ul>
</div>
</div>
</div>
<div class="footer">
<div class="control-background-3 bg-black">
<div class="control-text text-white">
<div class="container">
<div class="row">
<div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
<div class="copyright-text padding_10 font_12">
Copyright © {{ config.copyright.date }} <a class="control-link link-white" href="//{{ head.host }}">{{ config.copyright.text }}</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>

</div>

<link href="/themes/templates/{{ template.name }}/css/contact.css" rel="stylesheet">
<link href="/themes/templates/{{ template.name }}/css/footer.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<script src="https://cdn.joomimart.com/holder/2.9.4/js/holder.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.plugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.countdown.min.js"></script>
<script src="https://cdn.joomimart.com/prism/js/prism.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
<link rel="stylesheet" href="/themes/lib/fancybox/source/helpers/jquery.fancybox-buttons.min.css">
<link rel="stylesheet" href="/themes/lib/fancybox/source/helpers/jquery.fancybox-thumbs.min.css">

<script src="/themes/lib/pnotify/3.2.0/js/pnotify.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="/themes/lib/fancybox/fancybox_product.min.js"></script>
<script type="text/javascript" src="/themes/lib/fancybox/source/helpers/jquery.fancybox-buttons.min.js"></script>
<script type="text/javascript" src="/themes/lib/fancybox/source/helpers/jquery.fancybox-media.min.js"></script>
<script type="text/javascript" src="/themes/lib/fancybox/source/helpers/jquery.fancybox-thumbs.min.js"></script>

<script>
$(function () {
Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
});
</script>

<link href="/themes/lib/fancybox/3.0.47/css/jquery.fancybox.min.css" rel="stylesheet">
<script src="/themes/lib/fancybox/3.0.47/js/jquery.fancybox.min.js"></script>
<script src="/themes/lib/scrollpos-styler/scrollPosStyler.js"></script>

<script>
$(function(){
var sources = $('[data-source]');
var folders = $('[data-folder]');
var elements = $('[data-element]');
jQuery.each(sources, function(){
var file = '' + $(this).data('source') + '' + $(this).data('folder') + '' + $(this).data('element') + '';
$(this).load(file);
});
});
</script>
<div data-source="" data-folder="/themes/elements/demo-panel/" data-element="demo-panel.html" class="demo-body demo-navbar demo-slider-1 demo-slider-2 demo-slider-3 demo-slider-4 demo-section-1 demo-section-2 demo-marketing demo-product-list demo-contact demo-newsletter demo-footer-header demo-footer"></div>

</body>

</html>