<!DOCTYPE html>
<html lang="{{ site.language }}" class="fixed-header fixed-footer-none" style="font-family:'Open Sans',sans-serif; font-size:14px;">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
<link rel="icon" href="/favicon.ico">
{% if head.title or page == 'category_list' %}
{% if head.title %}<title>{{ head.title }} | {{ head.host }}</title>{% endif %}
{% if head.keywords %}<meta name="keywords" content="{{ head.keywords }}, {{ head.host }}">{% endif %}
{% if head.description %}<meta name="description" content="{{ head.description }} | {{ head.host }}">{% endif %}
{% if head.host and head.path %}<link name="canonical" href="//{{ head.host }}{{ head.path }}">{% endif %}
{% if head.robots %}<meta name="robots" content="{{ head.robots }}">{% endif %}
{% if head.og_url %}<meta property="og:url" content="//{{ head.host }}{{ head.path }}">{% endif %}
{% if head.og_locale %}<meta property="og:locale" content="{{ head.og_locale }}">{% endif %}
{% if head.og_type %}<meta property="og:type" content="{{ head.og_type }}">{% endif %}
{% if head.og_title %}<meta property="og:title" content="{{ head.og_title }} | {{ head.host }}">{% endif %}
{% if head.og_description %}<meta property="og:description" content="{{ head.og_description }} | {{ head.host }}">{% endif %}
{% if head.og_image %}<meta property="og:image" content="{{ head.og_image }}">{% endif %}
{% elseif content.title %}
{% if content.title %}<title>{{ content.title }} | {{ head.host }}</title>{% endif %} 
{% if content.keywords %}<meta name="keywords" content="{{ content.keywords }}, {{ head.host }}">{% endif %} 
{% if content.description %}<meta name="description" content="{{ content.description }} | {{ head.host }}">{% endif %} 
{% if content.host and head.path %}<link name="canonical" href="//{{ head.host }}{{ head.path }}">{% endif %} 
{% if content.robots %}<meta name="robots" content="{{ content.robots }}">{% endif %} 
{% if content.og_url %}<meta property="og:url" content="//{{ content.host }}{{ content.path }}">{% endif %} 
{% if content.og_locale %}<meta property="og:locale" content="{{ content.og_locale }}">{% endif %} 
{% if content.og_type %}<meta property="og:type" content="{{ content.og_type }}">{% endif %} 
{% if content.og_title %}<meta property="og:title" content="{{ content.og_title }} | {{ head.host }}">{% endif %} 
{% if content.og_description %}<meta property="og:description" content="{{ content.og_description }} | {{ head.host }}">{% endif %} 
{% if content.og_image %}<meta property="og:image" content="{{ content.og_image }}">{% endif %} 
{% endif %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
<link href="https://cdn.joomimart.com/prism/css/prism.css" rel="stylesheet">
<link href="https://cdn.joomimart.com/joomi-css/1.0.1/css/joomi-css.css" rel="stylesheet">
<link href="https://cdn.joomimart.com/joomi-colors/1.0.2/css/joomi-colors.css" rel="stylesheet">
<link href="/themes/lib/pnotify/3.2.0/css/pnotify.min.css" rel="stylesheet">
<link href="/themes/templates/{{ template.name }}/css/joomi-mini-mo.css" rel="stylesheet">
<link href="/themes/templates/{{ template.name }}/css/marketing.css" rel="stylesheet">
<link href="/themes/templates/{{ template.name }}/css/section_1.css" rel="stylesheet">
<link href="/themes/templates/{{ template.name }}/css/product-list.css" rel="stylesheet">
<script>
var router_check_in = '{{ routers.check_in }}'
var router_login = '{{ routers.login }}'
var router_logout = '{{ routers.logout }}'
var router_cart = '{{ routers.cart }}'
var router_language = '{{ routers.language }}'
</script>
<script src="/themes/app/js/app.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar-example" class="bg-cover navbar-block carousel-block-100 product-list-block h1-description-block marketing-block newsletter-block footer-block footer-header-block section_1-block" style="font-family: 'Open Sans',sans-serif;">
<div id="body">
<input type="hidden" name="csrf" id="csrf" value="{{ token }}">